.empty {
  height: 20px;
}

.back {
  padding-top: 10px;
}

.infoheader {
  display: flex;
  width: 304px;
  padding: 0px 10px 0px 5px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;

  & p {
    text-align: right;
    font-size: 28px;
    margin: 0;
  }
}

.box {
  position: relative;
  margin-bottom: 50px;
}

.foot {
  display: flex;
  flex-flow: column;
  row-gap: 15px;
  margin-top: 80px;
}

.border {
  border-top: 1px solid #444444;
  margin: 10px 0px;
}

.badge {
  width: 60px;
  height: 60px;
  margin-left: 8px;
}

.charactercoin {
  display: flex;
  width: 328px;
  height: 170px;

  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-bottom: 0;
}

.character {
  width: 170px;
  height: 170px;
}

.title {
  text-align: left;
  margin-bottom: 8px;
}

.statemessage {
  position: relative;
  width: 272px;
  height: 88px;
  margin: 0px 10px 0px 12px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 2px solid #000;
  background: #fff;
  text-align: left;
  line-height: 1.8;
}
.content {
  width: 100%;
  height: 60px;
  line-height: 20px;
}

.todayCard {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table {
  width: 90%;
  font-size: 18px;
  white-space: nowrap;
  margin-top: 8px;
  margin-bottom: 18px;

  & tr {
    margin-top: 8px;
  }

  & .up {
    border-bottom: 1px solid rgb(176, 171, 171);
  }

  & .one {
    width: 80px;
  }
  & .two {
    width: 100px;
  }
  & .three {
    width: 100px;
  }
}

.highlight {
  font-size: 24px;
  color: crimson;
}

.notYet {
  margin-top: 16px;
  font-size: 20px;
  color: rgb(101, 99, 99);
}
