.settingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.settingContent {
  padding: 2vh 4vw;
  width: 76vw;
  background: #fff;
  border-radius: 1.875rem;
}

/* 공통 */
.infoHeader {
  display: flex;
  align-items: flex-start;
  font-size: 1.25rem;
  color: var(--test-2-font, #298dc5);
  position: relative;
  padding-bottom: 0.6rem;
}

.infoHeader::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--btn, #ebecf0);
  position: absolute;
  bottom: 0;
  left: 0;
}

.infoContent {
  margin-top: 0.625rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
