.box {
  position: relative;
}

.frame {
  overflow: hidden;
  padding-bottom: 132px;
}

.authorInfo {
  width: 288px;
  display: flex;
  padding-left: 28px;
}

.character {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.author {
  text-align: left;
  font-size: 20px;
  margin: 12px 0 4px 0;
}

.createdAt {
  font-size: 13px;
  color: var(--input-text);
}

.picture {
  width: 330px;
}

.content {
  margin: 8px 38px;
  text-align: left;
}
.reaction {
  height: 28px;
  margin: 12px 24px 32px 24px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  height: 28px;
}

.right {
  display: flex;
  height: 28px;
  margin-right: 4px;
}

.emoji {
  background-color: #fff;
}

.addFrame {
  position: fixed;
  bottom: 84px;
  width: 100vw;
  height: 56px;
  display: flex;
  align-items: center;

  border-top: 1px solid var(--input-text);
  background-color: #fff;
}

.add {
  display: flex;
  align-items: center;
  width: 260px;
  height: 32px;
  margin-left: 32px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #000;
  padding-left: 16px;
}

.sendBtn {
  width: 48px;
  height: 36px;
  background: #fff;
}
