.header34 {
  width: 300px;
  font-size: 34px;
  margin: 0 auto;
}

.card {
  margin: auto;
  box-sizing: border-box;
  width: 328px;
  height: 445px;
  box-shadow: #a2d660;
}

p {
  margin: 15px auto;
}

.btn {
  margin-top: 10px;
  background-color: #5db075;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.img {
  width: 200px;
  height: 200px;
  border: #5db075 solid 4px;
  padding: 46px;
  border-radius: 50%;
}
