.chartContainer {
  margin: 0 0 4.625rem;
  display: flex;
  flex-wrap: wrap;
}

.badgeImage {
  width: 4.25rem;
  height: 4.25rem;
  margin: 1.25rem;
}

.noBadgeImage {
  width: 4.25rem;
  height: 4.25rem;
  margin: 1.25rem;
  filter: brightness(0.2);
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 1.2rem;
}

.img {
  margin: 1rem;
  padding: 1.6rem;
  border-radius: 40%;
  background-color: var(--input);
}

.noImg {
  margin: 1rem;
  padding: 1.6rem;
  border-radius: 40%;
  background-color: var(--input);
  filter: brightness(0.2);
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80%;
}
