.frame {
  margin-bottom: 90px;
}

.chartContainer {
  margin: 0 0 0 4.625rem;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  margin: 6px 8px;
  border: 1px solid rgb(150, 146, 146);
  border-radius: 10px;

  display: inline-block;
}

.one {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile {
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 1rem;
  margin: 0 2px;
}
