.exp-container {
  display: inline-flex;
}

.expBar {
  width: 18.1875rem;
  height: 0.6875rem;
  border-radius: 2rem;
  background: var(--btn, #ebecf0);
  position: relative;
}

.totalExpBar {
  height: 100%;
}

.currentExpBar {
  height: 100%;
  background: var(--test-3, #ffec87);
  border-radius: 2rem;
  position: absolute;
  width: 50%;
}

.progressBar {
  height: 100%;
}
