.profile-content{
  display: inline-flex;
  justify-content: center;
  gap: 2.0625rem;

}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1875rem;
  width: 6.06rem;
}

.items-info{
  display: flex;
  gap: 1rem;
  align-self: stretch;
}
