.weekDays{
  /* display: inline-flex; */
  display: flex;
  justify-content: space-around;

}

.weekDays button{
  background-color: transparent;
}

.chart{
  display: flex;
  justify-content: center;
}