.weekDays {
  display: flex;
  justify-content: space-around;
}

.weekDays button {
  background-color: transparent;
}

.reportContent {
  display: flex;
  width: 20.5rem;
  gap: 1rem;
  margin: 1rem 2rem 0;
}

.weekAvg,
.weekMax {
  width: 9.22rem;
  height: 3.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.225rem;
  flex: 1 0 0;
}

.chartContainer {
  display: flex;
  justify-content: center;
  height: 220px;
}

.chartBox {
  padding-top: 20px;
  background: var(--input, rgba(240, 240, 240, 0.5));
  border-radius: 10px;
}

.placeholerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84vw;
  height: 240px;
  background: var(--input, rgba(240, 240, 240, 0.5));
  border-radius: 10px;
}
