.frame {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.card {
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 12px;
  border: 1.5px solid #000;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card_shadow {
  position: relative;
  width: 84%;
  height: 64px;
  border-radius: 12px;
  border: 1.5px solid #000;
  font-size: 24px;
  background-color: var(--green);
}
