.header {
  margin: 20px auto;
}

/* .box {
  position: relative;
  width: 294px;
  height: 80px;
  margin: 10px 0;
  border-bottom: 1px dashed var(--input-text, #8d8e90);
} */
.box {
  width: 264px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
  margin: 10px;
  border-bottom: 1px dashed var(--input-text, #8d8e90);
}

.upLine {
  width: 264px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px 0;
}

.usedAt {
  width: 184px;
  display: flex;
  justify-content: left;
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
  margin: 0;
}

.paidAt {
  width: 60px;
  font-size: 14px;
  text-align: right;
  color: #61646b;
  margin: 0;
}

.downLine {
  width: 264px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.amount {
  font-size: 14px;
  text-align: left;
  margin: 0;
}

.cardName {
  width: 60px;
  font-size: 14px;
  text-align: right;
  color: #61646b;
  margin: 0;
}

.btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 4px 8px;
  border: none;
  background: #fff;
  border: 1px solid var(--input-text, #8d8e90);
  border-radius: 10px;
}
