.empty {
  height: 60px;
}
.card {
  margin: 20px;
  padding-left: 24px;
  width: 320px;
  height: 640px;
  background-color: #fff;
  stroke-width: 1.5px;
  stroke: #000;
  border-radius: 20px;
  text-align: left;

  & .date {
    font-size: 24px;
    padding-top: 20px;
    margin-left: 10px;
  }
  & .total {
    padding-top: 14px;
    text-align: right;
    margin-right: 32px;
  }
}

.scrollitem {
  overflow-y: scroll;
}

.item {
  height: 530px;
}

/* scrollbar 안 보이게 */
/* .card::-webkit-scrollbar {
  display: none;
} */
