.primary {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 65px;
  border-radius: 10px;
  border: 1.5px solid #000;
  font-size: 24px;
  cursor: pointer;

  /* scv가 그려지는 효과 */
  stroke-width: 1.5px;
  stroke: #000;
  background-color: #a2d660;
}

.shadow {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 330px;
  height: 65px;
  border-radius: 10px;
  border: 1.5px solid #000;
  background: white;
}
