.card {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 328px;
  border-radius: 10px;
  border: 1.5px solid #000;

  /* scv가 그려지는 효과 */
  stroke-width: 1.5px;
  stroke: #000;
  background-color: white;
}

.card_shadow {
  margin-left: 36px;
  position: relative;
  top: 40px;
  width: 328px;
  border-radius: 10px;
  border: 1.5px solid #000;
  background: var(--green);
}
