.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  justify-content: space-between;
}

.chip {
  display: inline-flex;
  align-items: center;
  background-color: #e5e7eb;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #374151;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
