.toast {
  position: absolute;
  top: 60rem;
  left: 2rem;
  font-size: 20px;
  z-index: 3;
  size: 120px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.primary {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 64px;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 24px;
  cursor: pointer;
  background-color: var(--blue);
}

.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.hide {
  opacity: 0;
  transform: translateX(0) translateY(20px);
}
