.header {
  margin: 20px auto;
}

.box {
  position: relative;
  width: 294px;
  height: 80px;
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 15px;
}

.name {
  position: absolute;
  top: 0;
  left: 10px;
}

.amount {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.date {
  position: absolute;
  top: 0;
  right: 10px;
  color: #61646b;
}

.btn {
  margin-top: 10px;
  background-color: #5db075;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
}
