.bg {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/images/bg-images.png"), linear-gradient(180deg, #8CD5FF 0%, #B0E2FF 46.67%, #FAFBFC 99.99%);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
